// DAM interface colour, just to test
$primary: #1C9BD6;
$secondary: #333;
$emf: #495062;
$light-grey: #F4F4F4;


// Bulma customised variables
$family-sans-serif: proxima-nova;
$text: $secondary;


$navbar-height: 5rem;
$pagination-current-background-color: $primary;
$pagination-current-border-color: white;
