// we could look into adding node_modules to the include path for SASS
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

@import "variables";
@import "utilities";
@import "mixins";

@import "node_modules/bulma/bulma";

// custom universal classes
.wrap {
  padding: 2rem 3rem;
  @include tablet() {
    padding: 3rem 4rem;
  }
  @include desktop() {
    padding: 3rem 6rem;
  }
  @include fullhd() {
    padding: 5rem 9rem;
  }
}
// add bulma overrides elements here
.container {
    padding: 0.75rem;
}
