// we could look into adding node_modules to the include path for SASS
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import "variables";
@import "utilities";
@import "mixins";

@import "~bulma/bulma";

// custom universal classes
.wrap {
  padding: 2rem 1.5rem;
  @include tablet() {
    padding: 3rem 4rem;
  }
  @include desktop() {
    padding: 3rem 6rem;
  }
  @include fullhd() {
    padding: 5rem 9rem;
  }
}
// add bulma overrides elements here
.container {
    padding: 0.75rem;
}

// Bulma extensions
.has-background-emf {
  background-color: $emf !important;
}
